.fixed-bottom{
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px 40px;
}

body { 
    overflow-x: hidden
}

#app {
    position: relative
}

.table-element-active:hover {
    background-color: #434857
}

.table-element-selected {
    background-color: #353844;
    color: rgb(25, 151, 198)
}